.Dataset/*.csv filter=lfs diff=lfs merge=lfs -text
Dataset/*.csv filter=lfs diff=lfs merge=lfs -text
models/** filter=lfs diff=lfs merge=lfs -text
Dataset/*.geojson filter=lfs diff=lfs merge=lfs -text
